@use 'variables';
@use 'typography';

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  @include font(400, $default);

  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;

  transition: all 100ms ease;

  color: $black;

  &.menuIsOpen {
    overflow: hidden;

    .overlay {
      visibility: visible;
    }
  }

  @media (min-width: 1367px) {
    @include font(400, $lg);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-title();
}

/*Overlay*/
.overlay {
  background-color: rgba(0, 0, 0, 0.4);

  position: fixed;

  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  z-index: 100;

  visibility: hidden;

  @media (min-width: 1120px) {
    display: none;
  }
}

/*Section Wrapper*/
.wrapper {
  padding: $size-xxl 0;

  @media (max-width: 576px) {
    padding: $size-lg 0;

  }
}

/*Hero*/
.hero-wrapper {
  padding: 0 2rem;

  .hero-image {
    padding: 0;

    img {
      @extend .responsive-image;
    }
  }

  .hero-content {
    p {
      max-width: 75%;
    }

    @media (max-width: 576px) {
      padding-top: 1rem;

      p {
        max-width: 100%;
      }
    }
  }

}

/*Sections*/
#banner {
  background-color: $black;
  background-image: url(../../images/fullBanner.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 98vh;

  display: flex;
  align-items: center;

  .banner-content {
    h1 {
      font-size: 5.625rem;
      margin-bottom: $size-md;
    }

    p {
      font-size: 1.5625rem;
      max-width: 75%;
    }

    .logo {
      max-width: 330px;
    }
  }

  @media (max-width: 768px) {

    // background-image: url(../../images/banner-home-mobile.webp);

    align-items: flex-start;
    padding: 7rem 1rem 2rem;
    height: auto;

    .banner-content {
      max-width: 100%;
      text-align: center;

      h1 {
        font-size: 3.125rem;
      }

      p {
        max-width: 90%;
        margin: 0 auto;
        text-align: center;
        font-size: $md;
      }
    }
  }

  @media (min-width: 1024px) and (max-width: 1366px) {
    .banner-content {
      h1 {
        font-size: 4.625rem;
      }
    }
  }
}

#main-privacidade {
  .section-banner {
    background-image: url(../../images/fullBanner-privacidade.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.section-banner {
  background-color: $black;

  display: flex;
  align-items: center;
  justify-content: center;


  height: 45vh;

  @media (max-width: 576px) {
    height: 30vh;
  }
}

.section-cards {
  background-color: $black;
  background-image: url('../../images/background.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  color: $white;

  .section-heading {
    color: inherit;
  }

  @media (max-width: 768px) {
    background: #EBEBEB;
    color: $black;
  }
}

#main-privacidade {
  .privacy-policy {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @include font-title($h-lg)
    }

    p {
      line-height: 150%;
      margin-bottom: $xl;
    }

    ul {
      li {
        margin-bottom: $md;
      }
    }

    @media (max-width: 576px) {

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-size: $h-default
      }
    }
  }
}